.navbarHeder {
  background-color: black;
  margin-top: 40px;
  display: flex;
  font-style: normal;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
  border-radius: 10px;
}
.ul {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 50px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.ul a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.ul a:hover {
  color: yellow;
}
