.navbarHeder {
  width: 100%;
  margin-left: -24px;
  background-color: black;
  margin-top: 45px;
  display: flex;
  font-style: normal;
  height: 70px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 50px;
  border-radius: 13px;
  box-sizing: border-box;
}
.ul {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 50px;
  list-style: none;
  font-family:Roboto Condensed;
  cursor: pointer;
}

.sportLinkWrapper {
  margin-right: auto;
  list-style: none;
}

.sportLink {
  font-weight: bold;
  color: white;
  text-decoration: none;
    list-style: none;
  font-family:Roboto Condensed;
  cursor: pointer;
  font-size: 16px;
}

.sportLink:hover{
   color:rgb(203, 236, 12) ;
}

.ul a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.ul a:hover {
  color:rgb(203, 236, 12) ;
}
